
<!-----banner start---->
<div class="contain-fluid" >
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active"
          data-bs-interval="10000"
          *ngFor="let b of bannerResult; let i=index"
          [ngClass]="{active:i===1}">
            <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>{{b.original_title
            }}</h2>
              <p>{{b.overview
            }}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!-----bannner end----->

<div class="conttain mt-3 p-4">
    <!-----Trending Movies-->
    <div class="row">
        <h5 class="text-white">Trending Movies</h5>
        <div class="rowposter mt-3 p-2" >
            <ng-container *ngFor="let t of trendingMovieResult">
                <img 
                src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" 
                class="rowimg largeposter" 
                alt="..."
                [routerLink]="['/movie', t.id]">
            </ng-container>
           
        </div>
    
    </div>
    <div class="conttain mt-3 p-4">
        <!-----Action Movies-->
        <div class="row">
            <h5 class="text-white">Action Movies</h5>
            <div class="rowposter mt-3 p-2" >
                <ng-container *ngFor="let a of actionMovieResult">
                    <img 
                    src="https://image.tmdb.org/t/p/original/{{ a.poster_path}}" 
                    class="rowimg largeposter" 
                    alt="..."
                    [routerLink]="['/movie', a.id]">
                </ng-container>
               
            </div>
        
        </div>
        <div class="conttain mt-3 p-4">
            <!-----Adventure Movies-->
            <div class="row">
                <h5 class="text-white">Adventure Movies</h5>
                <div class="rowposter mt-3 p-2" >
                    <ng-container *ngFor="let ad of adventureMovieResult">
                        <img 
                        src="https://image.tmdb.org/t/p/original/{{ ad.poster_path}}" 
                        class="rowimg largeposter" 
                        alt="..."
                        [routerLink]="['/movie', ad.id]">
                    </ng-container>
                   
                </div>
            
            </div>
            <div class="conttain mt-3 p-4">
                <!-----Animation Movies-->
                <div class="row">
                    <h5 class="text-white">Animation Movies</h5>
                    <div class="rowposter mt-3 p-2" >
                        <ng-container *ngFor="let ani of trendingMovieResult">
                            <img 
                            src="https://image.tmdb.org/t/p/original/{{ ani.poster_path}}" 
                            class="rowimg largeposter" 
                            alt="..."
                            [routerLink]="['/movie', ani.id]">
                        </ng-container>
                       
                    </div>
                
                </div>
            <!-----Comedy Movies-->
            <div class="row">
                <h5 class="text-white">Comedy Movies</h5>
                <div class="rowposter mt-3 p-2" >
                    <ng-container *ngFor="let com of comedyMovieResult">
                        <img 
                        src="https://image.tmdb.org/t/p/original/{{ com.poster_path}}" 
                        class="rowimg largeposter" 
                        alt="..."
                        [routerLink]="['/movie', com.id]">
                    </ng-container>
                   
                </div>

                <!-----Science-Fiction Movies-->
                <div class="row">
                    <h5 class="text-white">Sci-Fi Movies</h5>
                    <div class="rowposter mt-3 p-2" >
                        <ng-container *ngFor="let sci of sciencefictionResult">
                            <img 
                            src="https://image.tmdb.org/t/p/original/{{ sci.poster_path}}" 
                            class="rowimg largeposter" 
                            alt="..."
                            [routerLink]="['/movie', sci.id]">
                        </ng-container>
                       

                        
                    </div>
            <!-----Documentaries-->
            <div class="row">
                <h5 class="text-white">Documentaries</h5>
                <div class="rowposter mt-3 p-2" >
                    <ng-container *ngFor="let doc of documentaryMovieResult">
                        <img 
                        src="https://image.tmdb.org/t/p/original/{{ doc.poster_path}}" 
                        class="rowimg largeposter" 
                        alt="..."
                        [routerLink]="['/movie', doc.id]">
                    </ng-container>
                   

                    
                </div>
                <!-----Thriller-->
            <div class="row">
                <h5 class="text-white">Thriller</h5>
                <div class="rowposter mt-3 p-2" >
                    <ng-container *ngFor="let thr of thrillerMovieResult ">
                        <img 
                        src="https://image.tmdb.org/t/p/original/{{ thr.poster_path}}" 
                        class="rowimg largeposter" 
                        alt="..."
                        [routerLink]="['/movie', thr.id]">
                    </ng-container>
                   

                    
                </div>
                </div>
           